## Titanic Snake
  
Esse caderno tem o objetivo de construir uma aplicação em python para o titanic do Kaggle.  
Para completar essa task é preciso que o usuário faça uma predição de se um passageiro do _Titanic_ sobreviveu com base em um dataset disponibilizado no arquivo train.csv e deve ser dado um resultado para esses fatores com o arquivo test.csv.  
O Formato de submissão do arquivo deve ser o de um csv com duas columns com os cabeçalhos _PassengerId_ e _suvived_. Esse resultado será avaliado pela Kaggle e dará o resultado do quão boa é sua solução.

**Obs**: A recomendação da Kaggle é o uso de binary classification

In [2]:
## Import libs
import pandas
import numpy as np

In [14]:
## Load datasets
train_dataset = pandas.read_csv("train.csv")
test_dataset = pandas.read_csv("test.csv")

## Remove as tables desnecessárias
train_dataset = train_dataset.drop(columns=["Name", "Ticket", "Cabin"]) # TODO: Reavaliar a importância de SibSp, parch
test_dataset = test_dataset.drop(columns=["Name", "Ticket", "Cabin"])

## Remove every single NaN and puts 0 because it will ignore the data input in the inference model
train_dataset.fillna(0) 
test_dataset.fillna(0)

     PassengerId  Pclass     Sex   Age  SibSp  Parch      Fare Embarked
0            892       3    male  34.5      0      0    7.8292        Q
1            893       3  female  47.0      1      0    7.0000        S
2            894       2    male  62.0      0      0    9.6875        Q
3            895       3    male  27.0      0      0    8.6625        S
4            896       3  female  22.0      1      1   12.2875        S
5            897       3    male  14.0      0      0    9.2250        S
6            898       3  female  30.0      0      0    7.6292        Q
7            899       2    male  26.0      1      1   29.0000        S
8            900       3  female  18.0      0      0    7.2292        C
9            901       3    male  21.0      2      0   24.1500        S
10           902       3    male   0.0      0      0    7.8958        S
11           903       1    male  46.0      0      0   26.0000        S
12           904       1  female  23.0      1      0   82.2667        S
13           905       2    male  63.0      1      0   26.0000        S
14           906       1  female  47.0      1      0   61.1750        S
15           907       2  female  24.0      1      0   27.7208        C
16           908       2    male  35.0      0      0   12.3500        Q
17           909       3    male  21.0      0      0    7.2250        C
18           910       3  female  27.0      1      0    7.9250        S
19           911       3  female  45.0      0      0    7.2250        C
20           912       1    male  55.0      1      0   59.4000        C
21           913       3    male   9.0      0      1    3.1708        S
22           914       1  female   0.0      0      0   31.6833        S
23           915       1    male  21.0      0      1   61.3792        C
24           916       1  female  48.0      1      3  262.3750        C
25           917       3    male  50.0      1      0   14.5000        S
26           918       1  female  22.0      0      1   61.9792        C
27           919       3    male  22.5      0      0    7.2250        C
28           920       1    male  41.0      0      0   30.5000        S
29           921       3    male   0.0      2      0   21.6792        C
..           ...     ...     ...   ...    ...    ...       ...      ...
388         1280       3    male  21.0      0      0    7.7500        Q
389         1281       3    male   6.0      3      1   21.0750        S
390         1282       1    male  23.0      0      0   93.5000        S
391         1283       1  female  51.0      0      1   39.4000        S
392         1284       3    male  13.0      0      2   20.2500        S
393         1285       2    male  47.0      0      0   10.5000        S
394         1286       3    male  29.0      3      1   22.0250        S
395         1287       1  female  18.0      1      0   60.0000        S
396         1288       3    male  24.0      0      0    7.2500        Q
397         1289       1  female  48.0      1      1   79.2000        C
398         1290       3    male  22.0      0      0    7.7750        S
399         1291       3    male  31.0      0      0    7.7333        Q
400         1292       1  female  30.0      0      0  164.8667        S
401         1293       2    male  38.0      1      0   21.0000        S
402         1294       1  female  22.0      0      1   59.4000        C
403         1295       1    male  17.0      0      0   47.1000        S
404         1296       1    male  43.0      1      0   27.7208        C
405         1297       2    male  20.0      0      0   13.8625        C
406         1298       2    male  23.0      1      0   10.5000        S
407         1299       1    male  50.0      1      1  211.5000        C
408         1300       3  female   0.0      0      0    7.7208        Q
409         1301       3  female   3.0      1      1   13.7750        S
410         1302       3  female   0.0      0      0    7.7500        Q
411         1303       1  female  37.0      1      0   90.0000        Q
412         1304       3  female  28.0      0      0    7.7750        S
413         1305       3    male   0.0      0      0    8.0500        S
414         1306       1  female  39.0      0      0  108.9000        C
415         1307       3    male  38.5      0      0    7.2500        S
416         1308       3    male   0.0      0      0    8.0500        S
417         1309       3    male   0.0      1      1   22.3583        C

[418 rows x 8 columns]

0      0
1      1
2      1
3      1
4      0
5      0
6      0
7      0
8      1
9      1
10     1
11     1
12     0
13     0
14     0
15     1
16     0
17     1
18     0
19     1
20     0
21     1
22     1
23     1
24     0
25     1
26     0
27     0
28     1
29     0
      ..
861    0
862    1
863    0
864    0
865    1
866    1
867    0
868    0
869    1
870    0
871    1
872    0
873    0
874    1
875    1
876    0
877    0
878    0
879    1
880    1
881    0
882    0
883    0
884    0
885    0
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64